.print-area{
    background: gray;
    padding: 5px;
}

.players{
    background: red;
    border: 2px solid black;
    margin: 15px auto;
    width: 250px;
    height: 150px;
    box-shadow: 4px 2px;
}

.playersDetails{
    font-size: 20px;
    font-weight: heavy;
    padding-top: 10px;
    margin-bottom: 0px;
}

.playersDetails2{
    font-size: 15px;
    padding: 5px;
}